ScaryStories.Services/Service References/StoriesUpdateRemoteService/StoriesUpdateService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.7/Services/StoriesUpdateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" />
  <xs:element name="GetNewStories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastUpdateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewStoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" minOccurs="0" name="GetNewStoriesResult" nillable="true" type="q1:ArrayOfCategoryServiceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lastUpdateTime" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" minOccurs="0" name="CheckUpdateResult" nillable="true" type="q2:CheckingResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewStory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNewStoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" minOccurs="0" name="GetNewStoryResult" nillable="true" type="q3:StoryServiceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSources">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSourcesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" minOccurs="0" name="GetSourcesResult" nillable="true" type="q4:ArrayOfStorySourceServiceDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>