ScaryStories.Services/Service References/StoriesUpdateRemoteService/StoriesUpdateService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="StoriesUpdateService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.7/Services/StoriesUpdateService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.7/Services/StoriesUpdateService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.7/Services/StoriesUpdateService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScaryStories.UpdateService" />
      <xsd:import schemaLocation="http://192.168.1.7/Services/StoriesUpdateService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IStoriesUpdateService_GetNewStories_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStories" />
  </wsdl:message>
  <wsdl:message name="IStoriesUpdateService_GetNewStories_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IStoriesUpdateService_CheckUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdate" />
  </wsdl:message>
  <wsdl:message name="IStoriesUpdateService_CheckUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IStoriesUpdateService_GetNewStory_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStory" />
  </wsdl:message>
  <wsdl:message name="IStoriesUpdateService_GetNewStory_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNewStoryResponse" />
  </wsdl:message>
  <wsdl:portType name="IStoriesUpdateService">
    <wsdl:operation name="GetNewStories">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoriesUpdateService/GetNewStories" message="tns:IStoriesUpdateService_GetNewStories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoriesUpdateService/GetNewStoriesResponse" message="tns:IStoriesUpdateService_GetNewStories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoriesUpdateService/CheckUpdate" message="tns:IStoriesUpdateService_CheckUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoriesUpdateService/CheckUpdateResponse" message="tns:IStoriesUpdateService_CheckUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNewStory">
      <wsdl:input wsaw:Action="http://tempuri.org/IStoriesUpdateService/GetNewStory" message="tns:IStoriesUpdateService_GetNewStory_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IStoriesUpdateService/GetNewStoryResponse" message="tns:IStoriesUpdateService_GetNewStory_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IStoriesUpdateService" type="tns:IStoriesUpdateService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNewStories">
      <soap:operation soapAction="http://tempuri.org/IStoriesUpdateService/GetNewStories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckUpdate">
      <soap:operation soapAction="http://tempuri.org/IStoriesUpdateService/CheckUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNewStory">
      <soap:operation soapAction="http://tempuri.org/IStoriesUpdateService/GetNewStory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="StoriesUpdateService">
    <wsdl:port name="BasicHttpBinding_IStoriesUpdateService" binding="tns:BasicHttpBinding_IStoriesUpdateService">
      <soap:address location="http://192.168.1.7/Services/StoriesUpdateService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>